<mat-toolbar class="toolbar">
    <img class="logo" src="https://assets.zyrosite.com/cdn-cgi/image/format=auto,w=234,fit=crop,q=95/Yg27LXON92uO5q10/download-mk38Gx89jOUvMxy5.png" alt="rgtech-logo">
<span class="example-spacer"></span>
<div class="nav-container">
    <a href="" class="na-itms">Home</a>
    <a href="" class="na-itms">Aboutus</a>
    <button href="" class="na-itms" [matMenuTriggerFor]="menu"> Login <mat-icon style="color:white;margin-bottom: -4px;">arrow_drop_down</mat-icon></button>
    <mat-menu class="dropdown" #menu="matMenu">
        <button mat-menu-item class="dropdown-item" routerLink="/login">Employee login</button>
        <button mat-menu-item class="dropdown-item"routerLink="/login">Client login</button>
      </mat-menu>
    <a href="" class="na-itms">Contactus</a>

</div>
</mat-toolbar>
