<mat-toolbar style="background-color: #26619c;height: 80px;">

 <img class="logo" src="https://assets.zyrosite.com/cdn-cgi/image/format=auto,w=234,fit=crop,q=95/Yg27LXON92uO5q10/download-mk38Gx89jOUvMxy5.png" alt="">
  <span class="example-spacer" ></span>
  <div class="nav-container" >
    <button mat-button  routerLinkActive="is-active" class="nav-items">Home</button>
    <button mat-button  routerLinkActive="is-active" class="nav-items">About</button>
    <button mat-button  routerLinkActive="is-active" class="nav-items">Company</button>
    <button mat-button  routerLinkActive="is-active" class="nav-items">Blog</button>
    <!-- {{this.ls.getUser()}} -->
    <button mat-raised-button  class="nav-items" (click)="logout()"
     routerLinkActive="is-active" *ngIf="ls.getUser()"> Logout</button>
    <button mat-raised-button  class="nav-items" routerLink="/"
     routerLinkActive="is-active" *ngIf="!ls.getUser()">Login</button>
 
  </div>
  
</mat-toolbar>
<form [formGroup]="loginForm">
<div class="parent">
    <div class="child">
      <img class="child1" src="https://www.cloverdx.com/hubfs/cdx-deco-capital-market.svg" alt="">
    </div>
    <div class="child2">
        <h2>Welcome back !</h2>
        <h3>Login into your account</h3>
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Email address or phone number</label>
            <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Type your email or phone number" formControlName="UserID">
            <div *ngIf="loginForm.get('UserID')?.invalid && loginForm.get('UserID')?.touched" class="error">
              <div  *ngIf="loginForm.get('UserID')?.hasError('required')">email or phone number is requied</div>
            </div>
          </div>

          <label for="inputPassword5" class="form-label">Password</label>
          <input type="password" id="inputPassword5" class="form-control" aria-describedby="passwordHelpBlock" placeholder="Enter your password" formControlName="Password">
          <div *ngIf="loginForm.get('Password')?.invalid && loginForm.get('Password')?.touched" class="error">
            <div  *ngIf="loginForm.get('Password')?.hasError('required')">Password is requied</div>
            <div  *ngIf="loginForm.get('Password')?.hasError('pattern')">InValid Password</div>
          </div>
         <br>
         <a href="" style="float: right;margin-top: -10px;">Forgot password</a><br>
          <button matRipple type="button" class="submit" (click)="login()">Signin</button>
       <br><br>
          <div class="separator">Or do it any other account</div>
  
          <div class="container">
          <button type="button" class="icon-btn" matRipple>
            <img class="btn-light" src="./assets/google.png" alt="">
          </button>
          <button type="button" class="icon-btn" matRipple>
            <img class="btn-light" src="./assets/apple-logo.png" alt="">
          </button>
          <button type="button" class="icon-btn" matRipple>
            <img class="btn-light" src="./assets/facebook.png" alt="">
          </button>
        </div>
        <div class="container1">
            <p>Don't have account <a href="">SignUp</a> </p>
        </div>


    </div>
   
</div>
</form>