
.parent{
    display: flex;
    flex-flow: wrap row;
    align-items: space-evenly;
    justify-content: space-evenly;
    column-gap: 20px;
    row-gap: 20px;
    padding-top: 2%;
}
.container{
    display: flex;
    flex-flow: wrap row;
    align-items: center;
    justify-content: center;
    padding: 2%;
}
.child{
    width: 800px;
    height: 600px;


}
.child1{
    width: 800px;
    height: 600px;

}
.child2{
  width: 600px;
  height: 600px;



}
.btn-light{
    width: 20px;
    height: 20px;
    border-radius: 100%;
    margin: -4%;
}
.icon-btn{
  width: 60px;
  height: 60px;
background: whitesmoke;border: 2px solid rgb(204, 197, 197);border-radius: 100%; padding: 2%;margin: 2%;
}
.container1{
    display: flex;
    flex-flow: wrap row;
    align-items: center;
    justify-content: center;
    padding: 2%;
}
.submit{
    width:100%;
    height: 40px;
    border-radius: 24px;
    border: none;
    background:#26619c ;
    color: white;
}

.separator {
    display: flex;
    align-items: center;
    text-align: center;
    padding: 2%;
  }
  
  .separator::before,
  .separator::after {
    content: '';
    flex: 1;
    border-bottom: 1px solid #000;
  }
  
  .separator:not(:empty)::before {
    margin-right: .25em;
  }
  
  .separator:not(:empty)::after {
    margin-left: .25em;
  }

  @media screen and (max-width:400px) {
    .child{
        width: 300px;
        height: 600px;
    
    }
    .child1{
        width: 300px;
        height: 400px;
    
    }
  }

  .form-control{
    background: whitesmoke;
  }
  .error{
    color: red;
  }
  .logo{
    height: 60px;
    border-radius: 5px;
  }
  .form-control1{
    width: 100px;
    border-radius: 5px;
  }
  .example-spacer{
    flex: 1 0 0;
  }
  .nav-containe{
  display: inline-flex;
  align-items: flex-end;
  justify-content: flex-end;
  }