
<mat-toolbar style="background-color: #26619c;height: 80px;">

  <img class="logo" src="https://assets.zyrosite.com/cdn-cgi/image/format=auto,w=234,fit=crop,q=95/Yg27LXON92uO5q10/download-mk38Gx89jOUvMxy5.png" alt="">
   <span class="example-spacer" ></span>
   <div>

     <button mat-button  routerLinkActive="is-active" class="nav-items">Home</button>
     <button mat-button  routerLinkActive="is-active" class="nav-items">About</button>
     <button mat-button  routerLinkActive="is-active" class="nav-items">Company</button>
     <button mat-button  routerLinkActive="is-active" class="nav-items">Blog</button>
   </div>
   <div class="nav-container" >
     <!-- {{this.ls.getUser()}} -->
     <button style="background: none;border: none;">    <input class="form-control1 me-2" type="search" placeholder="Search" aria-label="Search" ></button>
     <button mat-raised-button  class="nav-items" (click)="logout()"
      routerLinkActive="is-active" *ngIf="ls.getUser()"> Logout</button>
     <button mat-raised-button  class="nav-items" routerLink="/"
      routerLinkActive="is-active" *ngIf="!ls.getUser()">Login</button>
  
   </div>
 
 </mat-toolbar>
<div class="parent">
    <div class="card" style="width: 240px;height: 240px; background-color: #d0ecfd">
      <div class="parent-img">
        <img src="./assets/compliance.png" class="card-img-top" alt="...">
      </div>
        <div class="card-body">
          <p class="card-text">Employee Compailance</p>
        </div>
      </div>

      <div class="card" style="width: 240px;height: 240px; background-color: #d0ecfd">
        <div class="parent-img">
        <img src="./assets/checklist.png" class="card-img-top" alt="...">
        </div>
        <div class="card-body">
          <p class="card-text">Regulatory Reporting</p>
        </div>
      </div>

      <div class="card" style="width: 240px;height: 240px; background-color: #d0ecfd">
        <div class="parent-img">
        <img src="./assets/document.png" class="card-img-top" alt="...">
        </div>
        <div class="card-body">
          <p class="card-text">Nav oversight</p>
        </div>
      </div>

      <div class="card" style="width: 240px;height: 240px; background-color: #d0ecfd">
        <div class="parent-img">
        <img src="./assets/pdf.png" class="card-img-top" alt="...">
        </div>
        <div class="card-body">
          <p class="card-text">Fact sheet</p>
        </div>
      </div>

      <div class="card" style="width: 240px;height: 240px; background-color: #d0ecfd">
        <div class="parent-img">
        <img src="./assets/return-on-investment.png" class="card-img-top" alt="...">
        </div>
        <div class="card-body">
          <p class="card-text">Investment compilance</p>
        </div>
      </div>

      <div class="card" style="width: 240px;height: 240px; background-color: #d0ecfd">
        <div class="parent-img">
        <img src="./assets/risk.png" class="card-img-top" alt="...">
        </div>
        <div class="card-body">
          <p class="card-text">Risk Monitoring</p>
        </div>
      </div>

      <div class="card" style="width: 240px;height: 240px; background-color: #d0ecfd" >
        <div class="parent-img">
        <img src="./assets/share-holder.png" class="card-img-top" alt="...">
        </div>
        <div class="card-body">
          <p class="card-text">Major shareholder disclosure</p>
        </div>
      </div>

      <div class="card" style="width: 240px;height: 240px; background-color: #d0ecfd">
        <div class="parent-img">
        <img src="./assets/trader.png" class="card-img-top" alt="...">
        </div>
        <div class="card-body">
          <p class="card-text">Trade survilance and monitoring</p>
        </div>
      </div>
</div>
