.parent{
    display: flex;
    flex-flow: wrap row;
    align-items: center;
    justify-content: flex-start;
    column-gap: 40px;
    row-gap: 40px;
    padding: 2%;
}
.card-img-top{
    width: 240px;
    height: 160px;

}
.card-text{
    font-size: 20px;
    text-align: center;
}