
<mat-toolbar style="background-color: #26619c;height: 80px;">

  <img class="logo" src="https://assets.zyrosite.com/cdn-cgi/image/format=auto,w=234,fit=crop,q=95/Yg27LXON92uO5q10/download-mk38Gx89jOUvMxy5.png" alt="">
  
   <div style="margin-left: 120px;">

     <button style="background: rgba(255, 255, 255, 0.2);
     border-radius: 2px;
     box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
     backdrop-filter: blur(5px);
     -webkit-backdrop-filter: blur(5px);
     border: 1px solid rgba(255, 255, 255, 0.3);;"  routerLinkActive="is-active" class="nav-items">Home</button>
     <button   routerLinkActive="is-active" class="nav-items">About</button>
     <button   routerLinkActive="is-active" class="nav-items">Company</button>
     <button   routerLinkActive="is-active" class="nav-items">Blog</button>
   </div>
   <span class="example-spacer" ></span>
 
     <!-- {{this.ls.getUser()}} -->
  
     <button style="background: none;border: none;margin-left: 10px;">    <div class="container">

      <div class="row height d-flex justify-content-center align-items-center">

        <div class="col-md-8">

          <div class="search">
            <i class="fa fa-search"></i>
            <input type="text" class="form-control" placeholder="search..">
            
          </div>
          
        </div>
        
      </div>
  </div></button>
  <button  matBadge="15" matBadgeColor="warn" style="border: none;margin-right: 30px;border-radius: 5px;">  
      <mat-icon style="margin-bottom: -5px;color:skyblue">mail</mat-icon></button>
     <button mat-raised-button  class="nav-items" (click)="logout()"
      routerLinkActive="is-active"> Logout</button>
  
  
 
 
 </mat-toolbar>
<div class="parent">
    <div class="card" style="width: 240px;height: 240px; background-color: #d0ecfd">
      <div class="parent-img">
        <img src="./assets/compliance.png" class="card-img-top" alt="...">
      </div>
        <div class="card-body">
          <p class="card-text">Employee <br/>
             Compliance</p>
        </div>
      </div>

      <div class="card" style="width: 240px;height: 240px; background-color: #d0ecfd">
        <div class="parent-img">
        <img src="./assets/checklist.png" class="card-img-top" alt="...">
        </div>
        <div class="card-body">
          <p class="card-text">Regulatory <br/>
            Reporting</p>
        </div>
      </div>

      <div class="card" style="width: 240px;height: 240px; background-color: #d0ecfd">
        <div class="parent-img">
        <img src="./assets/document.png" class="card-img-top" alt="...">
        </div>
        <div class="card-body">
          <p class="card-text">NAV Oversight</p>
        </div>
      </div>

      <div class="card" style="width: 240px;height: 240px; background-color: #d0ecfd">
        <div class="parent-img">
        <img src="./assets/pdf.png" class="card-img-top" alt="...">
        </div>
        <div class="card-body">
          <p class="card-text">Fact Sheet</p>
        </div>
      </div>

      <div class="card" style="width: 240px;height: 240px; background-color: #d0ecfd">
        <div class="parent-img">
        <img src="./assets/return-on-investment.png" class="card-img-top" alt="...">
        </div>
        <div class="card-body">
          <p class="card-text">Investment <br/>
            Compilance</p>
        </div>
      </div>

      <div class="card" style="width: 240px;height: 240px; background-color: #d0ecfd">
        <div class="parent-img">
        <img src="./assets/risk.png" class="card-img-top" alt="...">
        </div>
        <div class="card-body">
          <p class="card-text">Risk <br/>Monitoring</p>
        </div>
      </div>

      <div class="card" style="width: 240px;height: 240px; background-color: #d0ecfd" >
        <div class="parent-img">
        <img src="./assets/share-holder.png" class="card-img-top" alt="...">
        </div>
        <div class="card-body">
          <p class="card-text">Major Shareholder 
            Disclosure</p>
        </div>
      </div>

      <div class="card" style="width: 240px;height: 240px; background-color: #d0ecfd">
        <div class="parent-img">
        <img src="./assets/trader.png" class="card-img-top" alt="...">
        </div>
        <div class="card-body">
          <p class="card-text">Trade Surveillance<br/>
            and Monitoring</p>
        </div>
      </div>
</div>
